.quizes-wrap {
	margin: 1rem;
}

.all-quizes-header {
	margin-bottom: 2rem;
	font-size: large;
	letter-spacing: 1px;
}

.quizes-container {
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	margin: 1rem;
	justify-content: flex-start;
}
.quiz-wrap {
	padding: 1rem;
	border-radius: 6px;
	border: 1px solid #424242;
	width: max-content;
	cursor: pointer;
}
.quiz-details {
	padding: 1rem;
	display: flex;
	flex: wrap;
	flex-direction: column;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.quizes-container {
		justify-content: center;
	}
}
